* {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 100;
  text-align: center;
}
.todoAll {
  display: flex;
  text-align: left;
  justify-content: center;
}

.deleteAll {
  width: 100px;
  height: 30px;
  margin-right: 3px;
  background-color: rgb(238, 160, 212);
  border: none;
}
.deleteAll:hover {
  background-color: rgb(238, 122, 199);
}
.doneAll {
  width: 100px;
  height: 30px;
  margin-left: 3px;
  background-color: rgb(163, 197, 219);
  border: none;
}
.doneAll:hover {
  background-color: rgb(107, 172, 216);
}
.button_top {
  justify-content: center;
  display: flex;
  margin: 20px;
}
.buttonToggle {
  width: 45px;
  height: 35px;
}
.buttonToggle:hover {
font-size: 16px;
border: 2px solid rgb(66, 66, 66);
}
.buttonDelete {
  font-weight: 800;
  padding: 7px;
  cursor: default;
}
.buttonDelete:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }


.todoCounter {
  width: 100px;
  height: 30px;
  margin-left: 6px;

  text-align: center;
  background-color: rgb(160, 238, 221);
  border: none;
}
